@media screen and (min-width: 767px) {
}

@media screen and (max-width: 767px) {
    .header {
        width: auto;
    }
    
    .logobox{
        margin: 0;
    }

    .bar1 {
        max-width: 545px;
        margin-right: auto;
    
    }
    
    .bar2 {
        max-width: 545px;
        margin-right: auto;
    }
}

@media screen and (max-width: 479px) {
    .header {
        min-width: 490px;
    }

    .logobox{
        margin: 0;
        min-width: 150px;
    }   
    
    .bar1 { 
        width: auto;
        min-width: 260px;
        margin-right: 0;
        font-size: 12px;
        margin: 0;
        
    }
    
    .bar2 {
        width: auto;
        min-width: 260px;
        margin-right: 0;
        font-size: 12px;
        margin: 0;
    }
}