.header {
    display: flex;
    max-width: 1000px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.logobox {
    width: 200px;
    height: 120px;
    background-color: #add8e6;
    margin:0;
}

.bar1 {
    width: 800px;
    height: 60px;
    background-color: #87ceeb;
    height:60px;
    line-height:60px;
    text-align: end;

}

.bar2 {
    width: 800px;
    height: 60px;
    background-color: #00ffff;
    height:60px;
    line-height:60px;
    text-align: end;
}

.table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

td, th { 
    border: 1px white solid; 
}

th {
    background-color: #87ceeb;
}

td {
    background-color: #e0ffff;
}

.footer {
    max-width: 1000px;
    width:auto;
    height: 50px;
    background-color: #00ced1;
    margin-left: auto;
    margin-right: auto;
}